rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    match /activities/{activityId} {
      allow read: if request.auth != null;
      
      // Users can only create an activity if they are the creator listed in the document
      allow create: if request.auth.uid != null && request.resource.data.creatorId == request.auth.uid;

      // Users can update an activity ONLY to join it
      allow update: if request.auth.uid != null
                       && resource.data.participantIds.hasAny([request.auth.uid]) == false
                       && request.resource.data.participantIds == resource.data.participantIds.concat([request.auth.uid])
                       && request.resource.data.placeId == resource.data.placeId
                       && request.resource.data.activityDate == resource.data.activityDate
                       && request.resource.data.creatorId == resource.data.creatorId;

      // Anyone in the activity can delete it (based on UI in chat info sheet)
      allow delete: if request.auth.uid != null && resource.data.participantIds.hasAny([request.auth.uid]);
    }

    match /chats/{chatId} {
       // Temporarily allow any authenticated user to read/write for debugging.
       allow read, write: if request.auth != null;

       match /messages/{messageId} {
          // Temporarily allow any authenticated user to read/write for debugging.
          allow read, write: if request.auth != null;
       }
    }
  }
}
